{% extends 'authority_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ title }}{% endblock title %}

{% block body %}
<div class="bg-light rounded h-100 p-4">
    <h6 class="title-custom mb-4">{{ title }}</h6>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-4">
            <label for="id_name" class="form-label">Name</label>
            {{ form.name|add_class:"form-control" }}
        </div>

        <div class="mb-4">
            <label for="id_value" class="form-label">Value</label>
            {{ form.value|add_class:"form-control" }}
        </div>

        <div class="mb-4">
            <label for="id_icon_class" class="form-label">Icon Class (e.g., fa-solid fa-star)</label>
            {{ form.icon_class|add_class:"form-control" }}
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary">{% if updated %}Update{% else %}Submit{% endif %}</button>
        </div>
    </form>
</div>
{% endblock body %}
