{% extends "authority_base.html" %}

{% block title %} {{title}} {% endblock title %}

{% block body %}
<div class="container-fluid pt-4 px-4" style="margin-bottom: 30px;">
    <div class="row g-4">


<!-- Total Projects Block -->
<div class="col-sm-6 col-xl-3">
    <div class="bg-white text-dark rounded d-flex align-items-center justify-content-between p-4 box-shadow shadow-lg" style="box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); padding-left: unset !important;">
        <div class="ms-3">
            <p class="mb-2 text-dark">Total Courses</p>
            <h6 class="mb-0 text-dark"></h6>
        </div>
        <div class="icon-box">
            <i class="fa-solid fa-project-diagram fa-2x text-white"></i>
        </div>
    </div>
</div>


        <!-- Total Messages Block -->
        <div class="col-sm-6 col-xl-3">
            <div class="bg-white text-dark rounded d-flex align-items-center justify-content-between p-4 box-shadow shadow-lg" style="box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); padding-left: unset !important;">
                <div class="ms-3">
                    <p class="mb-2 text-dark">Total Messages</p>
                    <h6 class="mb-0 text-dark"></h6>
                </div>
                <div class="icon-box">
                    <i class="fa-solid fa-envelope fa-2x text-white"></i>
                </div>
            </div>
        </div>


        <!-- Total Blog Block -->
        <div class="col-sm-6 col-xl-3">
            <div class="bg-white text-dark rounded d-flex align-items-center justify-content-between p-4 box-shadow shadow-lg" style="box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); padding-left: unset !important;">
                <div class="ms-3">
                    <p class="mb-2 text-dark">Total Blogs</p>
                    <h6 class="mb-0 text-dark"></h6>
                </div>
                <div class="icon-box">
                    <i class="fa-solid fa-newspaper fa-2x text-white"></i>
                </div>
            </div>
        </div>

        <!-- Total Service Block -->
        <div class="col-sm-6 col-xl-3">
            <div class="bg-white text-dark rounded d-flex align-items-center justify-content-between p-4 box-shadow shadow-lg" style="box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); padding-left: unset !important;">
                <div class="ms-3">
                    <p class="mb-2 text-dark">Total users</p>
                    <h6 class="mb-0 text-dark"></h6>
                </div>
                <div class="icon-box">
                    <i class="fa-solid fa-cogs fa-2x text-white"></i>
                </div>
            </div>
        </div>

    </div>
</div>




{% endblock body %}
